body{
	font-family: cursive;
	overflow-x: hidden;
	
	position: relative;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-image: url(https://img.freepik.com/premium-photo/preparation-cooking-wooden-background-top-view-free-space-text_187166-51517.jpg?size=626&ext=jpg&ga=GA1.1.2116175301.1701043200&semt=ais);
       background-size: cover;
       background-position: center center;
       background-repeat: no-repeat;
       background-attachment: fixed;
       filter: brightness(2.0);
}
#main{
	  filter: brightness(1.0); 
	  text-align: center;
	  
}
#img{
	text-align: left;
	
	justify-content: space-around;
	filter: brightness(0.4);
	text-decoration: none;
	font-size: 1.1rem;
	padding: 25px 430px 25px 20px ;
	
	width: 100%   	;
	border-radius: 14px 50px;
	display: flex;	

}
#about{
	text-align: right;
    justify-content:  space-around;
    align-items: revert;
    color: wheat;
    display: flex;
    ;
}
#img img {
	border: 7px solid silver;
	border-radius: 14px 50px;
	border:10px solid black;
	background: silver;
	height:350px;
	width: 300px;
}
#about h2 {
	border: 7px solid silver;
	border-radius: 14px 50px;
	background: black;
	width: 700px;
	height: 350px;
	display: flex;
	padding: 10px;
	justify-content: space-between;
	margin-top: 0px;
	font-family: cursive;
}
#main h1{
	font-family: cursive;
}
 			
